/* Style sheet for aboutus.html */

/* Creates two columns to keep LOCATION on right-hand side */
.column {
    float: left;
    width: 50%;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

/* Forces columns to stack if hitting max-width */
@media screen and (max-width: 800px) {
    .column {
      width: 100%;
    }
  }

/* About Us title */
.aboutus {
    margin: 10px;
    color: #000000;
    text-align: left;
    text-decoration: none;
    font-family: "adobe-clean", sans-serif;
    font-size: 17px;
}

/* All headers aside from title */
h4 {
    margin: 10px;
    color: #000000;
    text-align: left;
    text-decoration: none;
    font-family: "adobe-clean", sans-serif;
    font-size: 17px;
}

/* Style setting for description */
.description {
    margin: 10px;
    color: #000000;
    text-align: left;
    word-wrap: normal;
    padding: 10px 10px;
    border-radius: 30px;
    border: 2px solid #ebe2d9;
    text-decoration: none;
    font-family: "adobe-clean", sans-serif;
    font-size: 17px;
}

/* Style setting for all paragraphs */
p {
    margin: 10px;
    color: #000000;
    text-align: left;
    word-wrap: normal;
    border-radius: 25px;
    border: 2px solid #ebe2d9;
    text-decoration: none;
    font-family: "adobe-clean", sans-serif;
    font-size: 17px;
}

/* Style setting for LOCATION */
.location {
    margin: 10px;
    color: #000000;
    text-align: left;
    text-decoration: none;
    font-family: "adobe-clean", sans-serif;
    font-size: 17px;
}