/* Style sheet for aboutus.html */

/* Creates two columns to keep LOCATION on right-hand side */
.column {
    float: left;
    width: 50%;
}

/* Creates a row to keep "About Us" header above other headers */
.row2 {
    content: normal;
}

/* Brings columns back to a singular column after it's division */
.row1:after {
    content:"";
    display: table;
    clear: both;
}

/* Forces columns to stack if hitting max-width */
@media screen and (max-width: 800px) {
    .column {
      width: 100%;
    }
  }

/* About Us title */
.aboutus_header {
    margin: 20px 40px;
    color: #000000;
    text-align: left;
    text-decoration: none;
    font-family: Times New Roman;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}

/* All headers aside from title */
h4 {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    color: #000000;
    text-align: left;
    text-decoration: none;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

/* Style setting for description */
.description {
    margin: 10px 20px;
    color: #000000;
    text-align: left;
    word-wrap: normal;
    padding: 10px 10px;
    border-radius: 30px;
    border: 2px solid #ebe2d9;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

/* Style setting for all paragraphs */
p {
    margin: 10px 20px;
    color: #000000;
    text-align: left;
    word-wrap: normal;
    padding: 10px 10px;
    border-radius: 25px;
    border: 2px solid #ebe2d9;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

/* Style setting for LOCATION */
.location_header{
    margin-top: 10px;
    margin-bottom: 5px;
    color: #000000;
    text-align: left;
}