/* HOME PAGE CSS CODE [temporarily here, will be removed later]!! */


/* Add a black background color to the top navigation */
.navbar {

    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "adobe-clean", sans-serif;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #FF9292;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #FF9292;
    color: black;
}

/*Changes the background color of the navbar*/
.navbar {
    background-color: #FFB4B4;
}

/*Changes the tab color of each link. i.e: HOME, SERVICES ...*/
.navbar a {
    background-color: #FFB4B4;
    color: black;
}

.navbar ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/*Used inline-block to display items horizontally*/
.navbar li {
    display: inline-block;
}

/*This deals with the Lisa's Nails Logo*/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.Lisas_Nails {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    position: relative;
    width: 40vmin;
    border: solid black 2px;
    box-sizing: border-box;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-align: center;
    font-family: Times New Roman;
    font-style: italic;
    font-weight: normal;
    font-size: 113px;
    color: rgba(0, 0, 0, 1);
}

/* ///////////////////////////////////////////////////////////////  */
/* MEET STAFF PAGE CSS CODE BELOW */

.Staff_Header {
    left: 42px;
    top: 25px;
    position: absolute;
    overflow: visible;
    width: 268px;
    white-space: nowrap;
    text-align: left;
    font-family: Times New Roman;
    font-style: italic;
    font-weight: normal;
    font-size: 50px;
    color: rgba(112, 112, 112, 1);
}

p.Meet_Staff_Description {
    border: .5px;
    border-style: solid;
    border-color: rgba(112, 112, 112, 1);
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2em;
    left: 236px;
    top: 147px;
    position: absolute;
    overflow: visible;
    width: 902px;
    height: 27px;
    line-height: 23px;
    margin-top: -1.5px;
    text-align: left;
    font-style: normal;
    font-family: Segoe UI;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112, 112, 112, 1);
    opacity: 0.75;
}

* {
    box-sizing: border-box;
}

.left,
.right,
.center {
    border-radius: 0.5em;
    float: left;
    width: 33%;
    color: white;
    padding: 10px;
    height: 500px;
    text-align: center;
}

.left {
    background-color: #e9c8c2;
}

.right {
    background-color: #e9c8c2;
}

.center {
    background-color: #e9c8c2;
}

.container:after {
    clear: both;
}