/* //////////////////////////////////////////////////////////////////// */
/* HOME-PAGE.CSS CODE temporarily added here, will be removed later!!   */
/* Staff Papge CSS Code starts on Line 110                              */
/* //////////////////////////////////////////////////////////////////// */


/* Add a black background color to the top navigation */
.navbar {

    background-color: #333;
    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "adobe-clean", sans-serif;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #FF9292;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #FF9292;
    color: black;
}

/*Changes the background color of the navbar*/
.navbar {
    background-color: #FFB4B4;
}

/*Changes the tab color of each link. i.e: HOME, SERVICES ...*/
.navbar a {
    background-color: #FFB4B4;
    color: black;
}

.navbar ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/*Used inline-block to display items horizontally*/
.navbar li {
    display: inline-block;
}

/*This deals with the Lisa's Nails Logo*/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.Lisas_Nails {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    position: relative;
    width: 40vmin;
    border: solid black 2px;
    box-sizing: border-box;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-align: center;
    font-family: Times New Roman;
    font-style: italic;
    font-weight: normal;
    font-size: 113px;
    color: rgba(0, 0, 0, 1);
}

/* ///////////////////////////////////////////////////////////////  */
/* MEET STAFF PAGE CSS CODE BELOW */
/* ///////////////////////////////////////////////////////////////  */

.Staff_Header {

    left: 256px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 327px;
    white-space: nowrap;
    text-align: center;
    font-family: Times New Roman;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112, 112, 112, 1);


    /* left: 42px;
    top: 25px;
    position: absolute;
    overflow: visible;
    width: 268px;
    white-space: nowrap;
    text-align: left;
    font-family: Times New Roman;
    font-style: italic;
    font-weight: normal;
    font-size: 50px;
    color: rgba(112, 112, 112, 1); */
}


p.staff-description {
    border: .5px;
    border-style: solid;
    border-color: rgba(112, 112, 112, 1);
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2em;
    background: #ffffff8a;

    left: 200px;
    top: 175px;
    position: absolute;
    overflow: visible;
    width: 896px;
    height: 50px;
    line-height: 23px;
    margin-top: -1.5px;
    text-align: center;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    font-style: normal;
    font-size: 18px;
    color: rgba(112, 112, 112, 1);
}

* {
    box-sizing: border-box;
}

.left,
.right,
.center {
    border-radius: 0.5em;
    float: left;
    width: 33%;
    color: white;
    padding: 10px;
    height: 500px;
    text-align: center;
}

.left {
    background-color: #e9c8c2;
}

.right {
    background-color: #e9c8c2;
}

.center {
    background-color: #e9c8c2;
}

.container:after {
    clear: both;
}

/* ///////////////////////////////////////////////////////////////  */
/* STAFF PROFILE GRID BOX CODE                                      */
/* ///////////////////////////////////////////////////////////////  */

body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1200px;
    height: 400px;
    margin: 240px auto;
}

.container .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(400px - 30px);
    background: #ff0;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;

}

.container .box .tech {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #efe1e1;
    transition: 0.5s;
    z-index: 1;
}

p.staff-name {
    color: #343333;
    font-size: 20px;
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    ;
}

.button {
    border: 2px solid #f4511e;
    border-radius: 20px;
    background-color: #d78084;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    color: #f4511e;
    background-color: white;
}

.container .box .tech img {
    padding-top: 20px;
    width: auto;
    height: 214px;
}