<% if (messages.error) { %>
    <%= messages.error %>
<% } %>

<head>
    <title>Lisa's Nails Login</title>
    <!--link rel="stylesheet" href="css/home_page.css"-->
    <link href="/css/login.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class=" navbar">
        <ul>
            <li><a href="/Home_Page">HOME</a></li>
            <li><a href="/services">SERVICES</a></li>
            <li><a href="/appointments">APPOINTMENTS</a></li>
            <li><a href="/staff">STAFF</a></li>
            <li><a class="active" href="/about_us">ABOUT US</a></li>
            <li><a href="/login">LOGIN</a></li>
        </ul>
    </div>

    <div class="container">
        <h1> ABOUT US code to be added </h1>
    </div>  
</body>