<% if (messages.error) { %>
    <%= messages.error %>
<% } %>



<head>
    <title>Lisa's Nails About</title>
  <link href="/css/layout.css" rel="stylesheet" type="text/css">
  <link href="/css/about_us.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://bootswatch.com/5/journal/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/9c7d73a643.js" crossorigin="anonymous"></script>
</head>

<body>
    <style>

        body {
            /* CSS Attribute for background image */
            position: fixed;
            height: 100vh;
            width: 100%;
            /* display: flex; */
            align-items: center;
            justify-content: center;

            content: "";
            background-image: url("/images/LisaNail-BG_opacity30.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }
    </style> 

</body>


<div class="main-navbar">
  <ul>
      <li><a href="/Home_Page">HOME</a></li>
      <li><a href="/services">SERVICES</a></li>
      <li><a href="/appointments">APPOINTMENTS</a></li>
      <li><a href="/staff">STAFF</a></li>
      <li><a class="active" href="/about_us">ABOUT US</a></li>
      <li><a href="/users/login">LOGIN</a></li>
  </ul>
</div>

<div>
    <h3 class="AboutUs_Header"> About Us </h3>
</div>

<div class="row" style="padding-bottom: 50px; width: 830px; right: 255px;">
    <!-- First column -->
    <div class="column">
        <h6 class="Left_Header"> Who We Are </h6>
        <p class="services-description">  At Lisa's Nails, we provide excellent manicure and pedicure services. Including custom facials, eyelash extensions, and waxing. </p>
        <br>
        <h6 class="Left_Header"> Business Hours</h6>
        <p class="services-description">  
            Sunday: 10:00AM - 6:00PM <br>
            Monday - Friday: 9:00AM - 7:00PM <br>
            Saturday: 9:00AM - 6:00PM 
        </p>
        <br>
        <h6 class="Left_Header"> Contact Us </h6>
         <p class="contact-description">  
            Phone: (707) 451-2833 <br>
            Phone: (707) 447-2649 
        </p>
    </div>
    <!-- Second Column -->
    <div class="column">
        <img class="Lisa_img" src="/images/LisaN.jpg" alt="Lisa Nguyen(the owner) performing a manicure on a client"/>
        <img class="Lisa_img" src="/images/LisaNails-outside.jpg" alt="outside picture of Lisa's Nails Salon."/>
        <br> <br>
        <h6 class="Location_Header"> Location </h6>
        <iframe class="GoogleMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.2128894107937!2d-121.99687078495197!3d38.34405438697532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808517e3bc4e669b%3A0x523fe582c4128d48!2sLisa&#39;s%20Nails!5e0!3m2!1sen!2sus!4v1632870596532!5m2!1sen!2sus"
        allowfullscreen="" 
        loading="lazy">

    </div>
    
</div>
