
<head>
	<title> Lisa's Nails Services </title>
	<link rel="stylesheet" href="/css/services.css">
</head>

<body style="background-color: #ededed;">

	<div class="navbar">
        	<ul>
            	<li><a href="/Home_Page">HOME</a></li>
            	<li><a class="active" href= "/services">SERVICES</a></li>
			    <li><a href="/appointments">APPOINTMENTS</a></li>
            	<li><a href="/staff">STAFF</a></li>
            	<li><a href="/about_us">ABOUT US</a></li>
        		<li><a href="/users/login">LOGIN</a></li>
        	</ul>
	</div>

    <div class="header-and-description">
        <h3 class="Services_Header">Services We Provide</h3>
        <br>
        <p class="services-description">At Lisa's Nails, we provide several services for our customers. Each associate has a specialty in each of these services. </p>
    </div>
	

    <!-- service profiles  -->
    <div class="container">
        
	<!--The Manicure/Pedicure box -->
        <div class="box">
            <div class="service">
                <img class="staff-icon" src="images/mani-pedi.png" alt="gray user icon profile">
                <p class="service-name">Manicure/Pedicure</p>
                <!-- <button class="button">View</button> -->
		        <a href="/services-mani-pedi" class="button"> View </a>
            </div>
        </div>


	<!--The Waxing box -->
	    <div class="box">
            <div class="service">
                <img class="staff-icon" src="images/waxing.png" alt="gray user icon profile">
                <p class="service-name">Waxing</p>
                <!-- <button class="button">View</button> -->
		        <a href="/services-waxing" class="button"> View </a>
	        </div>
        </div>


	<!--The Lashes box -->
        <div class="box">
            <div class="service">
                <img class="staff-icon" src="images/lashes.png" alt="gray user icon profile">
                <p class="service-name">Lashes</p>
                <!-- <button class="button">View</button> -->
		        <a href="/services-lashes" class="button"> View </a>
            </div>
        </div>

	<!--Face/body box -->
        <div class="box">
            <div class="service">
                <img class="staff-icon" src="images/face-body.png" alt="gray user icon profile">
                <p class="service-name">Face/Body</p>
                <!-- <button class="button">View</button> -->
		        <a href="/services-face-body" class="button"> View </a>
            </div>
        </div>


    </div>



</body>

</html>