
<head>
	<title> Lisa's Nails Mani-Pedi </title>
	<link rel="stylesheet" href="/css/services-manipedi.css">
</head>

<body style="background-color: #ededed;">

	<div class="navbar">
		<ul>
			<li><a href="/Home_Page">HOME</a></li>
			<li><a class="active" href= "/services">SERVICES</a></li>
			<li><a href="/appointments">APPOINTMENTS</a></li>
			<li><a href="/staff">STAFF</a></li>
			<li><a href="/about_us">ABOUT US</a></li>
			<li><a href="/users/login">LOGIN</a></li>
		</ul>
	</div>

    <div class="header-and-description">
        <h3 class="Services_Header"> Manicure and Pedicure </h3>
        <br>
    </div>

	<!-- Manicure and Pedicure Services Page -->
	
	<!-- ROW 1: -->
    <!-- <div class="container"> -->
	<div class="container" style="margin-top: 156px;">
	    <!-- Col 1. Basic Manicure box -->
        <div class="box">
            <div class="service">
                <img class= "staff-icon" src="images/mani-pedi.png" alt= "manicure images">
				<p class= "service-name"> Basic Manicure </p>
				<button class= "button"> $15 </button>
            </div>
        </div>

	    <!-- Col 2. Deluxe Manicure Box -->
	    <div class="box">
            <div class="service">
               <img class= "staff-icon" src="images/mani-pedi.png" alt= "manicure images">
					<p class= "service-name"> Deluxe Manicure</p>
					<button class= "button"> $30</button>
	        </div>
        </div>


	    <!-- Col 3. Supreme Manicure Box  -->
        <div class="box">
            <div class="service">
				<img class= "staff-icon" src="images/mani-pedi.png" alt= "manicure images">
				<p class= "service-name"> Supreme Manicure </p>
				<button class= "button"> $30 </button>
            </div>
        </div>
    </div>


	<!-- ROW 2:  -->
    <div class="container">
	    <!-- Col 1. Basic Pedicure box -->
        <div class="box">
            <div class="service">
                <img class= "staff-icon" src="images/mani-pedi.png" alt= "manicure images">
				<p class= "service-name"> Basic Pedicure </p>
				<button class= "button"> $30 </button>
            </div>
        </div>

	    <!-- Col 2. Deluxe Pedicure Box -->
	    <div class="box">
            <div class="service">
               <img class= "staff-icon" src="images/mani-pedi.png" alt= "manicure images">
					<p class= "service-name"> Deluxe Pedicure</p>
					<button class= "button"> $35</button>
	        </div>
        </div>


	    <!-- Col 3. Supreme Pedicure Box  -->
        <div class="box">
            <div class="service">
				<img class= "staff-icon" src="images/mani-pedi.png" alt= "manicure images">
				<p class= "service-name"> Supreme Pedicure </p>
				<button class= "button"> $45 </button>
            </div>
        </div>

	    <!-- Col 4. Additional Services Section -->
        <div class="box">
            <div class="service" style="text-align: left; padding: 20px; font-size: 13px;">
                <b>Additional Services <br></b>
				Add Top Gel $30 <br> Color Chance $10+ <br> French Tip $5
				<br> Take Off $10 <br> Take Off With Manicure $20<br> Hand Design $5+
				<br> Buffer Shine $5 <br> Paraffin Treatment Hand/Feet $7 <br>
				Fix $5
				<br><br> <b> Nail Enhancements</b>
				<br> Acrylic Full Set $35+ <br> Acrylic Fill-in $25+
				<br> Fiberglass Full Set $40+ <br> Fiberglass Fill-in $25+
				<br> Pink/White(Fiberglass) Full Set $50+ <br> Pink/White (Fiberglass) Fill-in $40+
				<br> Pink/White(Color) Fill-in $40+ <br> Ombre Full Set $55+ 
				<br> Ombre Fill-in $45+
            </div>
        </div>
    </div>


</body>

</html>