<!DOCTYPE html>
<html>

<head>
	<title>Lisa's Nails Facials/Massages</title>
	<link rel="stylesheet" href="css/services-etc.css">
	<!-- <link rel="stylesheet" href= "css/home_page.css"> -->
</head>

<body style="background-color: #ededed;">

		<div class="navbar">
        	<ul>
            	<li><a href="/Home_Page">HOME</a></li>
            	<li><a class="active" href= "/services">SERVICES</a></li>
			    <li><a href="/appointments">APPOINTMENTS</a></li>
            	<li><a href="/staff">STAFF</a></li>
            	<li><a href="/about_us">ABOUT US</a></li>
        		<li><a href="/users/login">LOGIN</a></li>
        	</ul>
	</div>

	<div class="header-and-description">
		<h3 class="Services_Header">Facials/Massages</h3>
		<br>
	</div>

	<div class="container">
		<div class="box">
			<div class="service">
				<img class="face-body" src="images/face-body.png" alt="facial treatement + mask">
				<p class="service-name">Cleansing Facial <br> 45 Minutes </p>
				<button class="button">$60</button>
			</div>
		</div>
		<div class="box">
			<div class="service">
				<img class="staff-icon" src="images/face-body.png" alt="gray user icon profile">
				<p class="service-name">Cleansing Facial <br> 60 Minutes</p>
				<button class="button">$70</button>
			</div>
		</div>
		<div class="box">
			<div class="service">
				<img class="staff-icon" src="images/honey-orange.png" alt="gray user icon profile">
				<p class="service-name">Fresh Honey Orange <br> 40 Minutes</p>
				<button class="button">$40</button>
			</div>
		</div>
	</div>
</body>

</html>