<% if (messages.error) { %>
    <%= messages.error %>
<% } %>

<head>
    <title>Lisa's Nails Staff</title>
<link href="/css/staff.css" rel="stylesheet" type="text/css">
</head>

<body>
    <style>

        body {
            /* CSS Attribute for background image */
            position: fixed;
            height: 100vh;
            width: 100%;
            /* display: flex; */
            align-items: center;
            justify-content: center;

            content: "";
            background-image: url("/images/LisaNail-BG_opacity30.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }
    </style>
</body>

    <div class="navbar">
        <ul>
            <li><a href="/Home_Page">HOME</a></li>
            <li><a href="/services">SERVICES</a></li>
            <li><a href="/appointments">APPOINTMENTS</a></li>
            <li><a class="active" href="/staff">STAFF</a></li>
            <li><a href="/about_us">ABOUT US</a></li>
            <li><a href="/users/login">LOGIN</a></li>
        </ul>
    </div>

    <div class="header-and-description">
        <h3 class="Staff_Header">Meet Our Staff</h3>
        <br>
        <p class="staff-description">All staff members are able to do basic facial and waxing services.</p>
    </div>

    <!-- !!!! STAFF BOX ROWS AND COLUMNS !!!!! -->
	
    <!-- ROW 1 -->
	<div class="container">
	    <!-- Col 1 : Jenny -->
        <div class="box">
            <div class="staff">
                <img class= "staff-icon" src="images/tulip.png" alt= "pink tulips">
				<button class= "button"> Jenny </button>
                <p class= "staff-name"> Eyelash Expert </p>
            </div>
        </div>

	    <!-- Col 2: Gabi -->
	    <div class="box">
            <div class="staff">
                <img class= "staff-icon" src="images/daisy.png" alt= "white daisy">
				<button class= "button"> Gabi </button>
                <p class= "staff-name"> Nails of all kinds </p>
	        </div>
        </div>

	    <!-- Col 3: Tina -->
        <div class="box">
            <div class="staff">
                <img class= "staff-icon" src="images/tulip.png" alt= "pink tulips">				<button class= "button"> Tina </button>
                <p class= "staff-name"> Pedicure </p>
            </div>
        </div>
    </div>

	<!-- ROW 2:  -->
    <div class="container">
	    <!-- Col 1: Lisa -->
        <div class="box">
            <div class="staff">
                <img class= "staff-icon" src="images/daisy.png" alt= "white daisy">
				<button class= "button"> Lisa </button>
                <p class= "staff-name"> Eyelashes </p>
                <p class= "staff-name"> Nails </p>
                <p class= "staff-name"> Pedicures </p>
            </div>
        </div>

	    <!-- Col 2: Hanna-->
	    <div class="box">
            <div class="staff">
                <img class= "staff-icon" src="images/tulip.png" alt= "pink tulips">				<button class= "button"> Hanna </button>
                <p class= "staff-name"> Pedicures </p>
	        </div>
        </div>
    </div>