<% if (messages.error) { %>
    <%= messages.error %>
<% } %>

<head>
    <title>Lisa's Nails Staff</title>
<link href="/css/staff.css" rel="stylesheet" type="text/css">
</head>

<body>
    <style>

        body {
            /* CSS Attribute for background image */
            position: fixed;
            height: 100vh;
            width: 100%;
            /* display: flex; */
            align-items: center;
            justify-content: center;

            content: "";
            background-image: url("/images/LisaNail-BG_opacity30.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }
    </style>
</body>

    <div class="navbar">
        <ul>
            <li><a href="/Home_Page">HOME</a></li>
            <li><a href="/services">SERVICES</a></li>
            <li><a href="/appointments">APPOINTMENTS</a></li>
            <li><a class="active" href="/staff">STAFF</a></li>
            <li><a href="/about_us">ABOUT US</a></li>
            <li><a href="/users/login">LOGIN</a></li>
        </ul>
    </div>

    <div class="header-and-description">
        <h3 class="Staff_Header">Meet Our Staff</h3>
        <br>
        <p class="staff-description">All staff members are able to do basic facial and waxing services.</p>
    </div>


    <!-- staff profiles  -->
    <div class="container">
        
        <div class="box">
            <div class="staff">
                <img class="staff-icon" src="images/profile-icon.png" alt="gray user icon profile">
                <p class="staff-name">Jenny</p>
                <ul>
                    <li>Eyelash Specialist</li>
                </ul>
            </div>
        </div>

        <div class="box">
            <div class="staff">
                <img class="staff-icon" src="images/profile-icon.png" alt="gray user icon profile">
                <p class="staff-name">Gabi</p>
                <ul>
                    <li>Nails of all kinds</li>
                </ul>
            </div>
        </div>

        <div class="box">
            <div class="staff">
                <img class="staff-icon" src="images/profile-icon.png" alt="gray user icon profile">
                <p class="staff-name">Tina</p>
                <ul>
                    <li>Pedicures</li>
                </ul>
            </div>
        </div>

        <div class="box">
            <div class="staff">
                <img class="staff-icon" src="images/profile-icon.png" alt="gray user icon profile">
                <p class="staff-name">Lisa</p>
                <ul>
                    <li>Eylashes</li>
                    <li>Nails</li>
                    <li>Pedicures</li>
                </ul>
            </div>
        </div>

        <div class="box">
            <div class="staff">
                <img class="staff-icon" src="images/profile-icon.png" alt="gray user icon profile">
                <p class="staff-name">Hanna</p>
                <ul>
                    <li>Pedicures</li>
                </ul>
            </div>
        </div>

    </div>