/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: pink;
	color: black;
}

.topnav {
	background-color: white;
}

.topnav a{
	background-color: white;
	color: black;
}

.Lisas_Nails {
		left: 42px;
		top: 25px;
		position: absolute;
		overflow: visible;
		width: 268px;
		white-space: nowrap;
		text-align: left;
		font-family: Times New Roman;
		font-style: italic;
		font-weight: normal;
		font-size: 113px;
		color: rgba(0,0,0,1);
	}