/* ////////////////////////////////////////////////////////////////////////   */
/* 1. NAV BAR CODE CSS [temporarily added, will be removed later]             */
/* /////////////////////////////////////////////////////////////////////////  */

/* Add a black background color to the top navigation */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "adobe-clean", sans-serif;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #FF9292;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #FF9292;
  color: black;
}

/*Changes the background color of the navbar*/
.navbar {
  background-color: #FFB4B4;
}

/*Changes the tab color of each link. i.e: HOME, SERVICES ...*/
.navbar a {
  background-color: #FFB4B4;
  color: black;
}

.navbar ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

/*Used inline-block to display items horizontally*/
.navbar li {
  display: inline-block;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;

  /* CSS Attribute for background image */
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  content: "";
  background-image: url("/images/LisaNail-BG_opacity30.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/**********************************************************************/
body {
  font-family: "adobe-clean",
    sans-serif;
}

.container {
  justify-content: center;
  display: flex;
  padding: 20px;
  text-align: center;

  font-style: normal;
  font-size: 18px;
  color: #707070;
}

.square1 {
  padding: 200px;
  margin-top: 240px;
  border: 2px solid #707070;
  border-radius: 0.3em;
}

.form1 {
  text-align: left;

}

.square2 {
  padding: 200px;
  margin-top: 240px;
  border: 2px solid #707070;
  border-radius: 0.3em;
}

.forgot-pw {
  text-align: left;
  font-size: 10px;
  text-decoration: underline;
}

.submit {
  border: 2px solid #f4511e;
  border-radius: 20px;
  background-color: #d78084;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button {
  border: 2px solid #f4511e;
  border-radius: 20px;
  background-color: #d78084;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  color: #f4511e;
  background-color: white;
}

/*These two functions down here deal with the background image.*/
/*Switched from fixed to relative*/
/* .bg {
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/*psuedo element*/
/* .bg::before {
  content: "";
  background-image: url("/images/lisasnails_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.30;
} */


/*set position: relative so that it will be on top of the pseudo-element and background image. */
/* .container {
  position: relative; 
  margin-top: -900px;
} */